################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimplePack/v15
/.vs/eZIP/v15
